:root {
  --primary-color: white;
  --secondary-color: #6c757d;
  --navBar-height: 65px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

nav {
  min-height: var(--navBar-height) !important;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-im-cover {
  background-size: cover;
}

.bg-im-contain {
  background-size: contain;
}

.full-screen {
  padding-top: var(--navBar-height);
  width: 100%;
  min-height: 100vh;
}

.full-screen-transparency {
  width: 100%;
}

.full-screen-transparency::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  text-align: center;
}

section h4 {
  color: var(--secondary-color);
}

.custom-alert {
  position: absolute;
  top: var(--navBar-height);
  z-index: 1000;
}