:root {
  --primary-color: white;
  --secondary-color: #6c757d;
  --navBar-height: 65px;
  --contrast-color: #212529;  
  --bg-color: #282c34;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

nav {
  min-height: var(--navBar-height) !important;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-im-cover {
  background-size: cover;
}

.bg-im-contain {
  background-size: contain;
}

.full-screen {
  padding-top: var(--navBar-height);
  width: 100%;
  min-height: 100vh;
}

.full-screen-transparency {
  width: 100%;
}

.full-screen-transparency::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  text-align: center;
}

section h4 {
  color: var(--secondary-color);
}

section h5 {
  color: var(--secondary-color);
}

.custom-alert {
  position: absolute;
  top: var(--navBar-height);
  z-index: 1000;
}

.full-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.form-container form {
  width: 100%;
}

.form-container form div {
  margin: 24px 0px 24px 0px;
}

.form-container form input {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: white;
}

.form-container-light form input:focus {
  background-color: rgb(33 37 41);
  color: white;
  border-color: rgb(33 37 41);
  box-shadow: 0px 0px 0px 4px rgb(33 37 41)
}

.form-container-dark form input:focus {
  background-color: var(--bg-color);
  color: white;
  border-color: var(--bg-color);
  box-shadow: 0px 0px 0px 4px rgb(33 37 41)
}

.form-container form textarea {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: white;
}

.form-container-light form textarea:focus {
  background-color: rgb(33 37 41);
  color: white;
  border-color: rgb(33 37 41);
  box-shadow: 0px 0px 0px 4px rgb(33 37 41)
}

.form-container-dark form textarea:focus {
  background-color: var(--bg-color);
  color: white;
  border-color: var(--bg-color);
  box-shadow: 0px 0px 0px 4px rgb(33 37 41)
}

.form-container-row {
  flex-direction: column;    
}

.form-container-row div {
  width: 100%;
  margin-top: 0px !important;
  margin-bottom: 12px !important;  
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .form-container form div {
    margin: 24px;
  }

  .form-container-row {
    flex-direction: row;
  }
}
