:root {
  --primary-color: white;
  --secondary-color: #6c757d;
  --navBar-height: 65px;
  --contrast-color: #212529;  
  --bg-color: #282c34;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

nav {
  min-height: var(--navBar-height) !important;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
}

.bg-im-cover {
  background-size: cover;
}

.bg-im-contain {
  background-size: contain;
}

.full-screen {
  padding-top: var(--navBar-height);
  width: 100%;
  min-height: 100vh;
}

.full-screen-transparency {
  width: 100%;
}

.full-screen-transparency::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  text-align: center;
}

section h4 {
  color: var(--secondary-color);
}

section h5 {
  color: var(--secondary-color);
}

.custom-alert {
  position: absolute;
  top: var(--navBar-height);
  z-index: 1000;
}

.full-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.form-container form {
  width: 100%;
}

.form-container form div {
  margin: 24px 0px 24px 0px;
}

.form-container form input, .form-container form select, .form-container form textarea
{
  background-color: transparent;
  border-color: var(--secondary-color);
  color: white;
}

.form-container-light form input:focus, .form-container-light form select:focus, .form-container-light form textarea:focus {
  background-color: rgb(33 37 41);
  color: white;
  border-color: rgb(33 37 41);
  box-shadow: 0px 0px 0px 4px rgb(33 37 41)
}

.form-container-dark form input:focus, .form-container-dark form select:focus, .form-container-dark form textarea:focus {
  background-color: var(--bg-color);
  color: white;
  border-color: var(--bg-color);
  box-shadow: 0px 0px 0px 4px rgb(33 37 41)
}

.form-container-row {
  flex-direction: column;    
}

.form-container-row div {
  width: 100%;
  margin-top: 0px !important;
  margin-bottom: 12px !important;  
}

.search-bar {
  flex-direction: column;
  margin: 0px !important;
}

.search-bar div {
  width: 100%;
  max-width: 280px;
}

.search-bar-input {
  margin-top: 0px !important;
}

.search-bar-check {
  width: auto !important;
  margin: 0px !important;
}

.search-bar-check div {
  margin: 24px 0px 0px 0px !important;
}

.dark-container {
  background-color: var(--contrast-color);    
  border: 1px solid var(--contrast-color);
  border-radius: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0d6efd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d6efd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .form-container form div {
    margin: 24px;
  }

  .form-container-row {
    flex-direction: row;
  }

  .search-bar {
    flex-direction: row;
  }

  .search-bar-input {
    margin-top: 24px !important;
  }

  .search-bar-check div {
    margin: 24px !important;
  }
}
