.card-img-cust {
    width: 80px;
    height: 80px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.card-img-cust-icon {
width: 65%;
height: 65%;
}

.card-img-metamask {
background-image: url('../img/metamask.png');
}

.card-link-cust {
    background-color: var(--bg-color) !important;
    cursor: pointer;
}

.card-link-cust:hover {
    background-color: var(--secondary-color) !important;
    color: black !important;
}