.card-img-cust {
    width: 80px;
    height: 80px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.card-img-cust-icon {
width: 65%;
height: 65%;
}

.card-img-metamask {
background-image: url('../img/metamask.png');
}

.card-link-cust {
    background-color: var(--bg-color) !important;
    background-image: radial-gradient(circle, rgba(239,132,245,0.3) 0%, rgba(0,69,129,1) 100%);
    cursor: pointer;
}

.card-link-cust:hover {
   transform: scale(1.03);
}