main {
    background-image: url('../img/mainBackground.jpg');
}

.main-container {
    position: absolute;
    text-align: center;
}

.main-content {
    width: 85%;
}

.main-content h4 {
    color: var(--secondary-color);
}

.main-actions {
    flex-direction: column;
}

.main-actions button {
   margin: 0px 16px 24px 16px;
} 

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .main-actions {
        flex-direction: row;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .main-content {
        width: 70%;
    }
}
