.profile-background {
    background-image: url('../img/backgroundProfile.jpeg');
}
.profile-container {
    text-align: start;
    width: 85%;
    max-width: 500px;
    padding: 32px;
}

.profile-container button {
    width: 100%;
}

.profile-container h5 {
    color: var(--secondary-color);
}

.profile-img {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px white solid;
}

.profile-img:hover {
    transform: scale(1.03);
}