.profile-background {
    background-image: url('../img/profileBackground.jpg');
}
.profile-container {
    background-color: #282c34 !important;
    text-align: start;
    width: 85%;
    max-width: 500px;
    padding: 32px;

    border-style: solid;
    border-width: 1px;
    border-radius: 0.375rem;;
    border-color: var(--secondary-color);
}

.profile-container button {
    width: 100%;
    
}

.profile-container h5 {
    color: var(--secondary-color);
}

.profile-container form {
    width: 100%;
}

.profile-container form div {
    margin: 24px;
}

.profile-container form input {
    background-color: transparent;
    border-color: var(--secondary-color);
    color: white;
}

.profile-container form input:focus {
    background-color: rgb(33 37 41);
    color: white;
    border-color: rgb(33 37 41);
    box-shadow: 0px 0px 0px 4px rgb(33 37 41)
}

.profile-img {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px white solid;
}

.profile-img:hover {
    transform: scale(1.03);
}